@model ArtHub.ViewModels.ExhibitCreateViewModel

@{
    ViewBag.Title = "Add Exhibit";
}

<h2>Add Exhibit</h2>
@using (Html.BeginForm("Create", "Exhibit"))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Created)
        @Html.TextBoxFor(m => m.Created, new { @class = "form-control", placeholder = "eg 1 Jan 2015" })
        @Html.ValidationMessageFor(m => m.Created)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExhibitType)
        @Html.DropDownListFor(m => m.ExhibitType, new SelectList(Model.ExhibitTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ExhibitType)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
